<%= content_tag_for(:tr, asignatura) do %>
	<td><%= link_to asignatura.nombre, asignatura %></td>
	<td><%= asignatura.descripcion %></td>
	<td><% tags = asignatura.tags.split(",") %>
		<% tags.each do |tag| %>
		<%# Añadir link a búsqueda por ese tag %>
		<span class="label label-info"><%= tag.strip %></span>
		<% end %>
	</td>
	<td><%= link_to '', edit_asignatura_path(asignatura), class: "glyphicon glyphicon-cog", title: "Editar" %>
		<%= link_to '', asignatura, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "glyphicon glyphicon-trash", title: "Eliminar" %>
	</td>
<% end %>