<%= form_for(@asignatura) do |f| %>
  <% if @asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignatura.errors.count, "error") %> han impedido que esta asignatura se guarde:</h2>

      <ul>
      <% @asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group">
    <%= f.label :nombre, class: "input-group-addon" %>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>
  <div class="field input-group">
    <%= f.label :descripcion, class: "input-group-addon" %>
    <%= f.text_area :descripcion, class: "form-control" %>
  </div>
  <div class="actions btn-group">
    <%= f.submit "Aceptar", class: "btn btn-primary" %>
    <%= link_to 'Inicio', asignaturas_path, class: "btn btn-default" %>
  </div>
<% end %>