<h1>Editando asignatura</h1>
<p id="notice"><%= notice %></p>

<%= form_for(@asignatura) do |f| %>
	<% if @asignatura.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@asignatura.errors.count, "error") %> han impedido que esta asignatura se guarde:</h2>

		  <ul>
		  	<% @asignatura.errors.full_messages.each do |message| %>
		    	<li><%= message %></li>
		  	<% end %>
		  </ul>
		</div>
	<% end %>

	<table class="table panel panel-default">
		<tr>
			<td><strong><%= f.label :nombre%></strong></td>
	  		<td><%= f.text_field :nombre, class: "form-control" %></td>
		</tr>
		<tr>
			<td><strong><%= f.label :descripcion %></strong></td>
	  		<td><%= f.text_area :descripcion, class: "form-control" %></td>
		</tr>
		<tr>
			<td><strong><%= f.label :tags%></strong></td>
	  		<td><%= f.text_field :tags, class: "form-control", data: {role:"tagsinput"} %></td>
		</tr>
	</table>

	<% if @asignatura.patron_clases.size != 0 %>
		<p><strong>Esta asignatura contiene las clases:</strong></p>
		<ul class="list-group">
			<% @asignatura.patron_clases.order(:orden).each do |patron| %>
				<%= render "edicion_patron_clase", patron: patron %>
			<% end %>
			<%# Un nuevo patrón de clase se llamaría a este render desde js %>
			<%# render "edicion_patron_clase", clase: 3 %>
		</ul>
		<div class="panel panel-default">
  			<a href="#" data-toggle="modal" data-target="#nueva_clase"><div class="panel-body"><span class="glyphicon glyphicon-plus"></span> Añadir clase</div></a>
  		</div>
	<% end %>

	<%= render "modal_nueva_clase" %>

	<div class="actions btn-group">
	    <%= f.submit "Aceptar", class: "btn btn-primary" %>
	    <%= link_to 'Inicio', asignaturas_path, class: "btn btn-default" %>
	    <%= link_to 'Volver', @asignatura, class: "btn btn-default" %>
	</div>
<% end %>