<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asignatura.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @asignatura.descripcion %>
</p>

<p>
	<% if @asignatura.patron_clases.size != 0 %>
		<strong>Esta asignatura contiene las clases:</strong>
		<ul>
			<% @asignatura.patron_clases.each do |patron| %>
				<%= content_tag_for(:li, patron) do %>
					<%= link_to patron.clase.nombre, clase_path(patron.clase) %> (<%= pluralize(patron.duracion, "día") %>).
				<% end %>
			<% end %>
		</ul>
	<% end %>
<p>

<%= link_to 'Editar', edit_asignatura_path(@asignatura) %> |
<%= link_to 'Atrás', asignaturas_path %>
