<table class="table panel panel-default">
	<tr>
		<td><strong>Nombre</strong></td>
  		<td><%= @asignatura.nombre %></td>
	</tr>
	<tr>
		<td><strong>Descripción</strong></td>
  		<td><%= @asignatura.descripcion %></td>
	</tr>
	<tr>
		<td><strong>Tags</strong></td>
  		<td><% tags = @asignatura.tags.split(",") %>
			<% tags.each do |tag| %>
			<%# Añadir link a búsqueda por ese tag %>
			<span class="label label-info"><%= tag.strip %></span>
			<% end %>
		</td>
	</tr>
</table>

<% if @asignatura.patron_clases.size != 0 %>
	<p><strong>Clases de la asignatura:</strong></p>
	<ul class="list-group">
		<% @asignatura.patron_clases.order(:orden).each do |patron| %>
			<%= content_tag_for(:li, patron, class: "list-group-item") do %>
				<%= link_to patron.clase.nombre, clase_path(patron.clase) %>
				<span class="badge"><%= pluralize(patron.duracion, "día") %></span>
			<% end %>
		<% end %>
	</ul>
<% end %>

<div class="btn-group">
<%= link_to 'Editar', edit_asignatura_path(@asignatura), class: "btn btn-default" %>
<%= link_to 'Inicio', asignaturas_path, class: "btn btn-default" %>
</div>