<%= content_tag_for(:tr, clase) do %>
	<td><%= link_to clase.nombre, clase %></td>
	<td><%= clase.descripcion %></td>
	<td><%= clase.recursos %></td>
	<td><% tags = clase.tags.split(",") %>
		<% tags.each do |tag| %>
		<%# Añadir link a búsqueda por ese tag %>
		<span class="label label-info"><%= tag.strip %></span>
		<% end %>
	</td>
<td><%= link_to '', edit_clase_path(clase), class: "glyphicon glyphicon-cog", title: "Editar" %>
		<%= link_to '', clase, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "glyphicon glyphicon-trash", title: "Eliminar" %>
<% end %>