<%= form_for(@clase) do |f| %>
  <% if @clase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clase.errors.count, "error") %> han impedido que esta clase se guarde:</h2>

      <ul>
      <% @clase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table panel panel-default">
    <tr>
      <td><strong><%= f.label :nombre %></strong></td>
        <td><%= f.text_field :nombre, class: "form-control" %></td>
    </tr>
    <tr>
      <td><strong><%= f.label :descripcion %></strong></td>
        <td><%= f.text_area :descripcion, class: "form-control" %></td>
    </tr>
    <tr>
      <td><strong><%= f.label :recursos %></strong></td>
        <td><%= f.text_field :recursos, class: "form-control" %></td>
    </tr>
    <tr>
      <td><strong><%= f.label :tags %></strong></td>
        <td><%= f.text_field :tags, class: "form-control", data: {role:"tagsinput"} %></td>
    </tr>
  </table>

  <div class="actions btn-group">
      <%= f.submit "Aceptar", class: "btn btn-primary" %>
      <%= link_to 'Inicio', clases_path, class: "btn btn-default" %>
      <%= link_to 'Volver', @clase, class: "btn btn-default" %>
  </div>
<% end %>