<p id="notice"><%= notice %></p>

<table class="table panel panel-default">
	<tr>
		<td><strong>Nombre</strong></td>
  		<td><%= @clase.nombre %></td>
	</tr>
	<tr>
		<td><strong>Descripción</strong></td>
  		<td><%= @clase.descripcion %></td>
	</tr>
	<tr>
		<td><strong>Recursos</strong></td>
  		<td><%= @clase.recursos %></td>
	<tr>
	<tr>
		<td><strong>Tags</strong></td>
  		<td><% tags = @clase.tags.split(",") %>
			<% tags.each do |tag| %>
			<%# Añadir link a búsqueda por ese tag %>
			<span class="label label-info"><%= tag.strip %></span>
			<% end %>
		</td>
	</tr>
</table>

<% if @clase.asignaturas.size != 0 %>
<strong>Esta clase aparece en las asignaturas:</strong>
<ul>
	<% @clase.asignaturas.each do |asignatura| %>
		<%= content_tag_for(:li, asignatura) do %>
			<%= link_to asignatura.nombre, asignatura_path(asignatura) %>
		<% end %>
	<% end %>
</ul>
<% end %>

<div class="btn-group">
<%= link_to 'Editar', edit_clase_path(@clase), class: "btn btn-default" %>
<%= link_to 'Inicio', clases_path, class: "btn btn-default" %>
</div>
