<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @clase.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @clase.descripcion %>
</p>

<p>
  <strong>Recursos:</strong>
  <%= @clase.recursos %>
</p>

<p>
	<strong>Esta clase aparece en las asignaturas:</strong>
	<ul>
		<% @clase.asignaturas.each do |asignatura| %>
			<%= content_tag_for(:li, asignatura) do %>
				<%= link_to asignatura.nombre, asignatura_path(asignatura) %>
			<% end %>
		<% end %>
	</ul>

<p>

<%= link_to 'Editar', edit_clase_path(@clase) %> |
<%= link_to 'Atrás', clases_path %>
