<!DOCTYPE html>
<html>
<head>
  <title>CalendariosWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li><%= link_to "Clases", clases_path %></li>
			<li><%= link_to "Asignaturas", asignaturas_path %></li>
		</ul>
	</nav>
</div>
<div id="contenido">
	<%= yield %>
</div>
</body>
</html>
