<!DOCTYPE html>
<html>
<head>
  <title>CalendariosWeb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><%= link_to "Clases", clases_path %></li>
				<li><%= link_to "Asignaturas", asignaturas_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<%= render 'layouts/user_widget' %>
			</ul>
		</div>
	</nav>
	<% if flash[:alert] %>
		<div class="alert alert-danger alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<%= flash[:alert] %>
		</div>
	<% end %>
	<% if flash[:notice] %>
		<div class="alert alert-info alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<%= flash[:notice] %>
		</div>
	<% end %>
</div>
<div id="contenido">
	<%= yield %>
</div>
</body>
</html>
